<a href="https://colab.research.google.com/github/yadavabhinash004-pixel/experiment1/blob/main/exp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
age = 24
print(age)

24

In [ ]:
x = "Hello"
print(x)

Hello

In [ ]:
a = 10
b = 3.14
c = "Hello"
d = True

print(a)
print(b)
print(c)
print(d)

10
3.14
Hello
True

In [ ]:
x = 9
y = 7

print("Addition:", x + y)
print("Multiplication:", x * y)
print("Division:", x / y)
print("Subtraction:", x - y)

Addition: 16
Multiplication: 63
Division: 1.2857142857142858
Subtraction: 2

In [ ]:
a = float(input("Enter side a: "))
b = float(input("Enter side b: "))

c = (a**2 + b**2) ** 0.5
print("Hypotenuse =", c)

Enter side a: 4
Enter side b: 6
Hypotenuse = 7.211102550927978

In [ ]:
p = float(input("Principal: "))
r = float(input("Rate: "))
t = float(input("Time: "))

si = (p * r * t) / 100
print("Simple Interest =", si)

Principal: 5
Rate: 6
Time: 7
Simple Interest = 2.1

In [ ]:
a = float(input("Side a: "))
b = float(input("Side b: "))
c = float(input("Side c: "))

s = (a + b + c) / 2
area = (s * (s-a) * (s-b) * (s-c)) ** 0.5

print("Area =", area)

Side a: 4
Side b: 56
Side c: 6
Area = (4.720441556561722e-14+770.9066091297959j)

In [ ]:
seconds = int(input("Enter seconds: "))

hours = seconds // 3600
minutes = (seconds % 3600) // 60
remaining = seconds % 60

print(hours, "hours", minutes, "minutes", remaining, "seconds")

Enter seconds: 7
0 hours 0 minutes 7 seconds

In [ ]:
a = int(input("Enter a: "))
b = int(input("Enter b: "))

a, b = b, a

print("After swap:", a, b)

Enter a: 2
Enter b: 4
After swap: 4 2

In [ ]:
n = int(input("Enter n: "))

sum_n = n * (n + 1) // 2
print("Sum =", sum_n)

Enter n: 3
Sum = 6

In [ ]:
print("A B  A&B  A|B  A^B")
for a in [0, 1]:
    for b in [0, 1]:
        print(a, b, a & b, a | b, a ^ b)

A B  A&B  A|B  A^B
0 0 0 0 0
0 1 0 1 1
1 0 0 1 1
1 1 1 1 0

In [ ]:
num = int(input("Enter number: "))

print("Left shift by 1:", num << 1)
print("Right shift by 1:", num >> 1)

Enter number: 4
Left shift by 1: 8
Right shift by 1: 2

In [ ]:
seq = (10, 20, 56, 78, 89)
num = int(input("Enter number: "))

print(num in seq)

Enter number: 4
False